* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.content-wrapper {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
}

.gallery {
	display: flex;
	flex-direction: column;
	}


.gallery a {
	margin-bottom: 20px;
	display: inline-block;
	text-align: center;
	
}

.input-search {
	max-width: 480px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #DDD;
	font-size: 16px;
	padding: 10px 15px;
	margin-bottom: 30px;
}





@media(min-width: 480px) {
.content-wrapper {
	padding-right: 0;
	padding-left: 0;
}

	.gallery {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -30px;
		margin-right: -30px;
	}

	.gallery a {
		margin-right: 30px;
		margin-left: 30px;
	}
}